<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="true"
         printerClass="Codedungeon\PHPUnitPrettyResultPrinter\Printer">>
    <testsuites>
        <testsuite name="Test Suite">
            <directory>test</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="APP_TIMEZONE" value="UTC"/>
        <env name="TEST_DB_DRIVER" value="sqlite"/>
        <env name="TEST_DB_DATABASE" value=":memory:"/>
    </php>
</phpunit>